/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-01-2017, 12:13:51
    Author     : rgonzalez
*/

.root{
    -fx-background: white;
    -comar-color-green: #00C000;
    -comar-color-white: #F8F8F8;
    -comar-color-margin: #E7E7E7;
    -comar-color-grey: #DDDDDD;
}

/*************************************************************
BANNER
**************************************************************/
.comar-banner {
    -fx-background-color: -comar-color-white;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: -comar-color-margin;
}

#comar-banner-title {
    -fx-text-fill: #625E5E;
    -fx-label-padding: 15px;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}


/*************************************************************
HOME
**************************************************************/
#comar-label-home{
    -fx-padding: 15;
}

#comar-label-home:hover{
    -fx-cursor: hand;
}

/*************************************************************
MENU
**************************************************************/
.comar-menu {
    -fx-background-color: -comar-color-white;
    -fx-border-width: 0 2px 0 0;
    -fx-border-color: -comar-color-margin;
}

.comar-menu-item {
    -fx-background-color: -comar-color-white; 
    -fx-padding: 12;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: -comar-color-margin;
}

.comar-menu-item #icon {
    -fx-padding: 0 5 0 0;
}

.comar-menu-item #text {
    /*-fx-text-fill: -comar-color-blue;*/
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.comar-menu-item:hover{
    -fx-background-color: -comar-color-grey; 
    -fx-cursor: hand;
}

/*************************************************************
CONTENIDO
**************************************************************/
.comar-content {
    -fx-padding: 20;
}

/*************************************************************
SECCION
**************************************************************/
#comar-section-label-title{
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-padding: 0 0 5 0;
}

.comar-section-separator {
    -fx-border-width: 0 0 2 0;
    -fx-border-color: -comar-color-margin;
}
.comar-section-row {
    -fx-padding: 10 0 10 0;
}

#comar-section-option {
    /*-fx-padding: 5;*/
}

/*************************************************************
COMPONENTES
**************************************************************/

.comar-form { /* VBOX */
    -fx-padding: 20;
}

.comar-form-row { /* HBOX */
    -fx-padding: 2;
}

.comar-scrollpane {
    -fx-border: 0;
    -fx-border-style: none;
}

.comar-flowpane {
    -fx-hgap: 5;
}

.comar-flowpane-10 {
    -fx-hgap: 10;
}

.comar-link {
    /*-fx-padding: 0 4 0 4;*/
}

.comar-link:hover {
    -fx-cursor: hand;
    -fx-background-color: -comar-color-grey; 
}